*{
    margin: 0;
    padding: 0;
}

body{
    background-size: cover;
    background-image: url(milad-fakurian-G5fdwRVoi4Q-unsplash\ 3.png);
    background-color: black;
    color: white;
}

.box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right:3rem; ;
}

.logo{
    height: 4rem;
    width: 4rem;
    background-image:url(rnxg\ logo\ v4\ 4.png);
    background-size: cover;
    margin-left: 7.5rem;
    margin-top: 1rem;
}

.nav-items{
    display: flex;
    gap: 4rem;
    margin-left: 9rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-family: "Iceland", sans-serif;
}

.nav-items a{
    text-decoration: none;
    color:inherit;
}

.about{
    color: #9D92FC;
}

.content{
    height: 8rem;
    width: 40rem;
    font-size: 2rem;
    font-family: "inclusive", sans-serif;
    margin-left: 8rem;
    margin-top: 2.5rem;
    padding-bottom: 6rem;
}

.heading{
    font-size: 1.5rem;
    font-family: orbitron;
    margin-top: 8rem;
    margin-left: 8rem;
    margin-bottom: 2rem;
}

h1{
    height: 4.5rem;
    width: 25rem;
    background-image: url(Rectangle\ 862.png),url(Rectangle\ 861.png) ;
    background-position: (left center, right center);
    background-size: 100% 100%, 100% 100%;
    background-repeat: no-repeat;
    padding-left: 1.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.image{
    height: 420px;
    width: 430px;
    background-image: url(image\ 20.png);
    background-size: cover;
    margin-right: 4rem;
    margin-top: 2rem;
}

.one-image{
    display: flex;
    justify-content: flex-end;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 4rem;
}

.stats-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-left: 2.5rem;
  width: 100%;
  height: 11rem;
  background-image: url(Rectangle\ 869.png);
  background-size: cover;
  border-radius: 50px;
  overflow: hidden;
}

.stat-box {
  flex: 1;
  padding: 2rem;
  text-align: center;
  border-right: 2.5px solid;
  border-image: linear-gradient(to top,black,white,black)1;
}

.stat-box:last-child {
  border-right: none;
}

.stat-number {
  font-size: 3.5rem;
  font-family: "sofia sans";
  color: white;
}

.stat-label {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  font-family: orbitron;
  color:white;
}

/* responsive design */
/* mobile screen */
@media screen and (max-width: 480px) {
    .logo{
        margin-top: 0.5rem;
        margin-left: 1rem; 
        height: 2.5rem;
        width: 2.5rem;
    } 
    .nav-items{
        display: none;
    }
    .content{
        margin-top: 0.1rem;
        width: 26rem;
        margin-left: 1rem;
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
    }
    .heading{
        margin-top: 1rem;
        margin-left: 5rem;
        margin-bottom: 1.5rem;
    }
    h1{
        width: 15rem;
        height: 3rem;
        font-size: 1.9rem;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .image{
        height: 200px;
        width: 200px;
        margin-top: 0.2rem;
    }
    .one-image{
        margin-left: 8rem;
    }
    .wrapper{
        margin-right:1rem;
        width: 425px;
    }
    .stats-container {
        justify-content: center;
        overflow: hidden;
        margin-top: 1.4rem; 
        height: 6rem;
        width: 40rem;
        margin-left: 1rem;
    }
    .stat-box {
        padding: 0.5rem;
        border-right: 1px solid white;    
    }
    .stat-number {
        font-size: 1.5rem;
    }
    .stat-label {
        font-size: 0.7rem;
    }
}


/* noramal screen */
   @media (min-width: 481px) and (max-width: 768px) {
   .logo{
       margin-top: 0.5rem;
       margin-left: 2rem; 
       height: 2.5rem;
       width: 2.5rem;
    }
    .nav-items{
       display: none;
    }
    .content{
       margin-top: 0.1rem;
       width: 40rem;
       margin-left: 2.5rem;
       font-size: 1.7rem;
       padding-bottom: 0.5rem;
       width: 44rem;
       height: 6rem;
    }
    .wrapper{
        margin-right: 2rem;
    }
    .heading{
       margin-top: 1rem;
       margin-left: 13rem;
       margin-bottom: 1rem;
    }
    h1{
       width: 18rem;
       height: 3.5rem;
       font-size: 2.3rem;
       padding-right: 1rem;
       padding-left: 0.5rem;
    }
    .image{
       height: 250px;
       width: 250px;
       margin-top: 0.2rem;
    }
    .one-image{
       margin-left: 15rem;
    }
    .stats-container {
       justify-content: center;
       overflow: hidden;
       margin-top: 1.4rem; 
       height: 7.5rem;
       width: 100%;
       margin-left: 2rem;
    }
    .stat-box {
       padding: 1rem;
       border-right: 2px solid white;    
       }
    .stat-number {
       font-size: 2.2rem;
      }
    .stat-label {
      font-size: 0.8rem;
    }
    }


/* tablet screen */
 @media (min-width: 769px) and (max-width: 1024px) {
    .logo{
        margin-top: 0.5rem;
        margin-left: 3.5rem; 
        height: 3.5rem;
        width: 3.5rem;
    }
    .nav-items{
        display: none;
    }
    .heading{
        margin-top: 1.2rem;
        margin-left: 18rem;
        margin-bottom: 1.5rem;
    }
    .one-image{
        margin-left: 20rem;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
    .image{
        height: 320px;
        width: 320px;
        margin-top: 0.2rem;
    }
    .wrapper{
        margin-right: 2rem;
    }
    .content{
        font-size: 2.5rem;
         width: 60rem;
        padding-bottom: 0.5rem;
        margin-left: 4rem;
        margin-top: 1rem;
        margin-right: 4rem;
    }
    
 } 