.CardFC{
  aspect-ratio: 4 / 5;
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 5rem;
  background-image: url(../images/bhaleraoSir.png);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 1.2rem;
  transition: transform 0.2s ease;
  border: 1.2rem solid #361764;
  border-bottom-width: 5rem;
  display: flex;
  justify-content: left;
  width: 20vw; /* 20% of viewport width */
  min-width: 232px; /* prevent it from getting too small */
  max-width: 300px; /* prevent it from getting too large */
}

.CardFC:hover {
  transform: scale(1.05);
  border: none;
  cursor: pointer;
}

.CardFC img{
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}