.mentor-wrapper {
  justify-content: center;
  display: flex;
  padding-bottom: 2rem;
  padding: 4rem;
}

.mentor-card {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  color: white;
  width: 100%;
  padding: 2rem;
  border-radius: 1.5rem;
  font-family: "Sofia Sans", sans-serif;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15),
    inset 0 0 0.5px rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
}

.mentor-card:hover {
  transform: scale(1.01);
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.2),
    inset 0 0 1px rgba(255, 255, 255, 0.2);
}

.mentor-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
}

.mentor-image {
  aspect-ratio: 5/6;
  object-fit: cover;
  border-radius: 0.7rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mentor-image:hover {
  transform: scale(1.03);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
}

.mentor-name {
  margin-top: 12px;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
}

.mentor-role {
  font-size: 1rem;
  color: #ccc;
  text-align: center;
}

.mentor-right {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.mentor-title {
  font-size: 2.7rem;
  font-weight: 700;
  margin: 0;
}

.mentor-quote {
  font-family: "Sofia Sans", sans-serif;
  text-align: justify;
  font-size: 1.5rem;
  line-height: 1.4;
  color: #fff;
}

.underline {
  margin-bottom: 10%;
}

@media (max-width: 1024px) {
  .mentor-title {
    font-size: 3rem;
  }
  .mentor-quote {
    font-size: 1.5rem;
  }
  .mentor-image {
    width: 20rem;
  }
}

@media (max-width: 768px) {
  .mentor-card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 95%;
    height: auto;
  }
  .mentor-wrapper {
    padding: 2rem 0.5rem;
  }

  .mentor-name {
    font-size: 2rem;
  }

  .mentor-role {
    font-size: 1.3rem;
  }

  .mentor-quote {
    font-size: 1.1rem;
    text-align: justify;
    width: 70vw;
  }
  .mentor-right {
    align-items: center;
    justify-content: center;
  }
  .mentor-title {
    display: none;
  }
  .mentor-image {
    width: 20rem;
  }
  .underline {
    display: none;
  }
}

@media (max-width: 480px) {
  .mentor-image {
    width: 13rem;
  }
  .mentor-quote {
    font-size: 0.7rem;
  }
}
